body{
    margin:0;
    padding: 0;
    background-color: antiquewhite;
    font-family: sans-serif;

}
table{
    border-collapse: collapse;
}
td{
    width: 64px;
    height: 64px;
}
th{
    width: 64px;
    height: 64px;
}

.black{
    background-color: black;
}

.white{
    background-color: white;

}
