:root {
    --color-light: white;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --linear-gradient: linear-gradient(to right, #F39FDC, #9AB5E1);
    --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, .02),
    0 6px 30px 5px rgba(33, 37, 41, .04),
    0 8px 10px -5px rgba(33, 37, 41, .1);
    --color-unacient: #bbcfd7
}

/*Main*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-light);
}

/*Catalog*/
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 0;


}

.product-element {
    display: flex;
    flex-direction: column;
    width: 216px;
    background-color: #f6f6f6;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    box-shadow: var(--box-shadow);
    padding: 20px 25px;
    border-radius: 3px;


}

.product-element__name {
    margin-bottom: auto;

}

.product-element__img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-top: var(--spacing-medium);
}

.product-element__price {
    margin-top: var(--spacing-medium);
    color:var(--color-unacient)

}

.product-element__btn {
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border:1px solid var(--color-unacient);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;

}
.product-element__btn_active {
    border: 1px solid transparent;
    background-image: var(--linear-gradient);
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
     border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: white;


}


/*Header*/
.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: #bbcfd7;
    justify-content: space-around;
    align-items: center;

}
.header-icon{
    width: 40px;
    height: 40px;
}
.header-menu{
    list-style: none;
    display: flex;

}
.header-menu__element{
    cursor: pointer;
    margin-right: 30px;
    color: white;

}
.header-menu__element-active{
    font-weight: bold;
    border-bottom: 1px solid #5b828e;
}
.header-counter{
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor:pointer;
    position: relative;

}
.header-counter::before{
    content: url("img/shopping-cart.png");
    position: absolute;
    left: -20px;
}
/*Cart*/
.cart-container{
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 31%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    padding: var(--spacing-large);
    background-color: white;
    box-shadow: var(--box-shadow);
}
.cart__close{
    position: absolute;
    width: 35px;
    height: 35px;
    top:20px;
    right: 20px;
    background-image: url("img/cancel.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}